In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Valdivia,CL,2022-07-20 17:39:22,-39.8142,-73.2459,53.69,96,100,7.85
1,1,Samarai,PG,2022-07-20 17:39:22,-10.6167,150.6667,79.88,81,36,9.86
2,2,Kapaa,US,2022-07-20 17:39:23,22.0752,-159.3190,75.52,88,75,9.22
3,3,Rikitea,PF,2022-07-20 17:39:22,-23.1203,-134.9692,72.95,75,2,0.83
4,4,Ati,TD,2022-07-20 17:39:23,13.2154,18.3353,90.32,45,52,1.68

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Samarai,PG,2022-07-20 17:39:22,-10.6167,150.6667,79.88,81,36,9.86
2,2,Kapaa,US,2022-07-20 17:39:23,22.0752,-159.3190,75.52,88,75,9.22
8,8,Dingle,PH,2022-07-20 17:39:25,10.9995,122.6711,77.29,88,74,2.17
9,9,Ugoofaaru,MV,2022-07-20 17:39:26,5.6667,73.0000,79.84,80,100,11.32
13,13,Boa Vista,BR,2022-07-20 17:39:28,2.8197,-60.6733,85.98,62,75,8.05
15,15,Lenger,KZ,2022-07-20 17:39:29,42.1830,69.8839,83.64,19,0,10.92
17,17,Hithadhoo,MV,2022-07-20 17:38:02,-0.6000,73.0833,80.46,72,100,4.97
18,18,Sirsa,IN,2022-07-20 17:39:30,29.5333,75.0167,83.07,74,87,15.19
27,27,Puerto Ayora,EC,2022-07-20 17:35:30,-0.7393,-90.3518,76.96,92,87,8.01
28,28,Pataias,PT,2022-07-20 17:39:34,39.6698,-8.9958,83.93,71,0,12.24

In [24]:
preferred_cities_df.count()
# preferred_cities_df.isnull().sum() works as well
# preferred_cities_df.notnull().sum() works as well

City_ID       213
City          213
Country       213
Date          213
Lat           213
Lng           213
Max Temp      213
Humidity      213
Cloudiness    213
Wind Speed    213
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1        Samarai      PG     79.88 -10.6167  150.6667
2          Kapaa      US     75.52  22.0752 -159.3190
8         Dingle      PH     77.29  10.9995  122.6711
9      Ugoofaaru      MV     79.84   5.6667   73.0000
13     Boa Vista      BR     85.98   2.8197  -60.6733
15        Lenger      KZ     83.64  42.1830   69.8839
17     Hithadhoo      MV     80.46  -0.6000   73.0833
18         Sirsa      IN     83.07  29.5333   75.0167
27  Puerto Ayora      EC     76.96  -0.7393  -90.3518
28       Pataias      PT     83.93  39.6698   -8.9958

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Samarai,PG,79.88,-10.6167,150.6667,Nuli Sapi
2,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Dingle,PH,77.29,10.9995,122.6711,SEGAYA PROPERTY
9,Ugoofaaru,MV,79.84,5.6667,73.0000,Ungoofaaru Inn
13,Boa Vista,BR,85.98,2.8197,-60.6733,Aipana Plaza Hotel

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]